{{> header}}

<table class="table col-md-12">
    <h3>{{strings.report_of}} {{strings.Ecologies}}.</h3>
    <h4>{{strings.number_of_registers}}: {{number_of_documents}} </h4>
    <thead>
        <tr>
            <th>{{strings.Family}}</th>
            <th>{{strings.scientificNameWithoutAuthorship}}</th>
            <th>{{strings.Lifeform}}</th> 
            <th>{{strings.Fenology}}</th>  
            <th>{{strings.Luminosity}}</th>
            <th>{{strings.Substratum}}</th>
            <th>{{strings.Longevity}}</th>
            <th>{{strings.Resprout}}</th>
        </tr>
    </thead>

    <tbody>
        {{#data}}
        <tr>
            <td>{{family}}</td>
            <td>{{scientificNameWithoutAuthorship}}</td>
            <td>{{lifeForm}}</td>
            <td>{{fenology}}</td>
            <td>{{luminosity}}</td>
            <td>{{substratum}}</td>
            <td>{{longevity}}</td>
            <td>{{resprout}}</td>
        </tr>
        {{/data}}
    </tbody>
</table>

{{> footer}}
