{{> header}}

<table class="table col-md-12">
    <thead>
        <tr>
            <th>{{strings.family}}</th>
            <th>{{strings.scientificNameWithoutAuthorship}}</th>
            <th>{{strings.phytophysiognomie}}</th>
        </tr>
    </thead>

    <tbody>
        {{#data}}
        <tr>
            <td>{{family}}</td>
            <td>{{scientificNameWithoutAuthorship}}</td>
            <td>{{phytophysiognomie}}</td>
        </tr>
        {{/data}}
    </tbody>
</table>

{{> footer}}
