{{> header}}

<table class="table col-md-12">
  <h3>{{strings.report_of}} {{strings.specie}}.</h3>
  <h4>{{strings.number_of_documents}}: {{number_of_documents}} </h4>
    <thead>
        <tr>
            <th>{{strings.family}}</th>
            <th>{{strings.scientificNameWithoutAuthorship}}</th>
            <th>{{strings.scientificNameAuthorship}}</th>
        </tr>
    </thead>

    <tbody>
        {{#data}}
        <tr>
            <td>{{family}}</td>
            <td>{{scientificNameWithoutAuthorship}}</td>
            <td>{{scientificNameAuthorship}}</td>
        </tr>
        {{/data}}
    </tbody>
</table>

{{> footer}}
